body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
 }

h1{
    text-align: center;
    padding-top: 55px;
}

h3{
    text-align: center;
    padding-top: 20px;
}

h5{
    text-align: center;
    margin-bottom: 10px;
}

button{
    display: block;
    margin : 0 auto;
    width: 10%;
    height: 35px;
    border-radius: 15px;
    background-color: cornflowerblue;
    color: aliceblue;
}

button:hover{
    background-color: aliceblue;
    color: rgb(40, 92, 189);
}

table,tr {
    border : 1px solid black;
    border-collapse: collapse;
    width: 50%;
    
  }
  th,td {
    padding: 5px;
    
  }

  table{
  
      margin: 0 auto;

  }

  th{
      font-size:large;
      text-align: center;
      background-color:rgb(20, 97, 173);
      color: beige;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  tr{
    background-color:rgb(193, 226, 248);
  }

  td{
   font-size: large;
    color: black;
    text-align: center;
  }
  tr:hover {
      background-color: rgb(223, 234, 241);
    }

    /* input{
        cursor: pointer;
    } */

    input  {
        cursor:pointer;
        transform: scale(1.25);
        
      } 
      input:checked{
        cursor: default;
      } 
      input:checked:hover{
          background-color: unset;
      }
      input:hover{
          background-color: black;
          
      }

  
